<header class="bg-slate-500 p-6">
  <div class="container mx-auto px-4 flex">
    <span>
      <img src="./assets/images/exchange.png" alt="" class="w-8 inline mr-2">
    </span>
    <span class="text-zinc-50 font-semibold text-xl">
      Currency App
    </span>
    
    <span class=" ml-auto text-zinc-50 font-semibold text-slate-300"><a href="http://google.com">{{!usdToday || !euroToday ? 'Loading...' : 'USD - '+usdToday+' UAH | '+'EURO - '+euroToday+' UAH'}}  </a></span>
    <span class="animate-ping relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
  
  </div>
</header>

<div class="container my-8 mx-auto px-4">
  <div>
    <div>
      <input
        #a1
        [disabled]="isLoading"
        type="text"
        name="input1"
        class="p-1 text-lg caret-cyan-500 focus:outline-none shadow-md border-2 border-cyan-500 px-1 {{isLoading ?'bg-slate-300' : null }}"
        [value]=inputValue1
        (input)="setInputValue1(a1.value)"
        (input)="setAmount($event)"
        (input)="convert()"
      />
      <select #c1 (change)="setFromOrTo($event)" (change)="convert()" id="currency1" class="p-1 ml-2" [disabled]="isLoading">
        <option value="" selected disabled hidden>select</option>
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
        <option value="gbp">GBR</option>
        <option value="uah">UAH</option>
        <option value="brl">BRL</option>
        <option value="aed">AED</option>
      </select>
    </div>
      <div class="my-2 flex"><span class="text-zinc-100 font-semibold text-slate-600" *ngIf="!isLoading">Convert to</span> 
       <span class="ml-2 px-4" *ngIf="isLoading"><mat-spinner color="primary" diameter="40" ></mat-spinner></span>    
      </div>
    <div>
      <input
        #a2
        [disabled]="isLoading"
        type="text"
        name="input2"
        class="p-1 text-lg caret-cyan-500 focus:outline-none shadow-md border-2 border-cyan-500 px-1 {{isLoading ?'bg-slate-300' : null }} "
        (input)="setInputValue2(a2.value)"
        (input)="setAmount($event)"
        (input)="convert()"
        [value]=inputValue2
      />
      <select #c2 (change)="setFromOrTo($event)" (change)="convert()" id="currency2" class="p-1 ml-2" [disabled]="isLoading">
        <option value="" selected disabled hidden>select</option>
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
        <option value="gbp">GBR</option>
        <option value="uah">UAH</option>
        <option value="brl">BRL</option>
        <option value="aed">AED</option>
      </select>
    </div>
    <ul class="mt-4 pb-16">
    <b *ngIf="historyList.length">Transactions list</b>
    <li class="flex justify-between  p-4 rounded border-solid border-2 border-sky-500 max-w-md bg-slate-200 h-15 shadow-lg shadow-cyan-500/50 mb-2" *ngFor="let transact of historyList">
      <span>{{transact.from | uppercase}} {{transact.amount}} - {{transact.to | uppercase}} {{transact.result}}
      </span>
      <span class="cursor-pointer" (click)="deleteTransaction(transact.id)"><img src="./assets/images/close.png" alt="" class="w-6 inline"></span></li>
</ul>
  </div>
</div>
<footer class="bg-slate-700 p-8 mt-auto fixed bottom-0 left-0 right-0">
  <div class="container text-zinc-50 mx-auto text-center" ><span>All rules reserved by Roma Shulga
    &copy;
  </span></div>
</footer>

